<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板内容添加</title>
</head>
<body>
<center>
    <table>
        <form action="/lybadd" method="post">
            <tr>
                <td>昵称:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>留言信息:</td>
                <td>
                    <textarea name="info" id="" cols="30" rows="10">请输入留言信息</textarea>
                </td>
            </tr>
            <tr>
                <td>
                <th>
                    <button>添加</button>
                </th>
                </td>
            </tr>
        </form>
    </table>
</center>
</body>
</html>